<section id="pricing-table">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="pricing-table-area">
            <div class="title-area">
              <h2 class="tittle">Pricing table</h2>
              <span class="tittle-line"></span>
              <p>unde omnis iste natus error sit voluptatem accusantium doloremque laudantium  aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
            </div>
            <!-- service content -->
            <div class="pricing-table-content">
                <ul class="price-table">
                  <li class="wow slideInUp">
                    <div class="single-price">
                      <h4 class="price-header">Basic</h4>
                      <span class="price-amount">$0.00/mo</span>
                      <p>5GB Storage</p>
                      <p>1GB RAM</p>
                      <p>400GB Bandwidth</p>
                      <p>10 Email Address</p>
                      <p>Unlimited access</p>
                      <p>Forum Support</p>
                      <a data-text="SIGN UP" class="button button-default" href="#"><span>SIGN UP</span></a>
                    </div>
                  </li>
                  <li class="wow slideInUp">
                    <div class="single-price standard-price">
                      <h4 class="price-header">Standard</h4>
                      <span class="price-amount">$10.00/mo</span>
                      <p>5GB Storage</p>
                      <p>1GB RAM</p>
                      <p>400GB Bandwidth</p>
                      <p>10 Email Address</p>
                      <p>Unlimited access</p>
                      <p>Forum Support</p>
                      <a data-text="SIGN UP" class="button button-default" href="#"><span>SIGN UP</span></a>
                    </div>
                  </li>
                  <li class="wow slideInUp">
                    <div class="single-price">
                      <h4 class="price-header">Advance</h4>
                      <span class="price-amount">$19.00/mo</span>
                      <p>5GB Storage</p>
                      <p>1GB RAM</p>
                      <p>400GB Bandwidth</p>
                      <p>10 Email Address</p>
                      <p>Unlimited access</p>
                      <p>Forum Support</p>
                      <a data-text="SIGN UP" class="button button-default" href="#"><span>SIGN UP</span></a>
                    </div>
                  </li>
                  <li class="wow slideInUp">
                    <div class="single-price">
                      <h4 class="price-header">Mighty</h4>
                      <span class="price-amount">$39.00/mo</span>
                      <p>5GB Storage</p>
                      <p>1GB RAM</p>
                      <p>400GB Bandwidth</p>
                      <p>10 Email Address</p>
                      <p>Unlimited access</p>
                      <p>Forum Support</p>
                      <a data-text="SIGN UP" class="button button-default" href="#"><span>SIGN UP</span></a>
                    </div>
                  </li>
               </ul>     
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>