.imgResize {
	width: 20px;
    height: 20px;
    cursor: pointer;
}
.imageOnly {
	width: 125px;
    height: 127px;
    cursor: pointer;
}
.imgResizeBottom {
    width: 32px;
    height: 31px;
    cursor: pointer;
}
.adjustWidth {
	width: 100% !important;
}
.imgWidth {
	width: 90px;
    height: 86px;
    border-radius: 52px;
    float: left;
}
