
.imageOnly {
	width: 125px;
    height: 127px;
    cursor: pointer;
}
.imgResizeBottom {
    width: 22px;
    height: 20px;
    cursor: pointer;
}
.adjustWidth {
	width: 100% !important;
}
.imgWidth {
	width: 90px;
    height: 86px;
    border-radius: 52px;
    float: left;
}
.searchBoxCoach {
    margin-top: 19%;
    width: 273px;
}
.inputCoach {
    width: 80%;
    display: -webkit-inline-box;
}
