<!-- 
<img src="./coach/firstPage/images/pic4.jpg" alt="" style="
    width: 62px;
    height: 52px;
    float: left;
    border-radius: 42px;
"> -->
<div ng-init="colorClasses = ['red', 'blue', 'green']">
	<div class="main-bottom">
		<div  class="wrap">
			<div class="content-bottom">
				<div class="col_1_of_3 span_1_of_3 adjustWidth">
					<h3>{{coach.currentLinkClick.header}}</h3>
					<img class = "imgWidth" altsrc = "./coach/firstPage/imgOwn/noImage.jpg" ng-src="{{item.image}}" title="imag-name" check-image>
					<p class="desc1">{{coach.currentLinkClick.desc}}</p>
					<p class="desc1" ng-hide="!readMore">{{coach.currentLinkClick.readMore}}</p>
					<img class="imgResizeBottom" name = "readMore" ng-hide="!readMore" ng-click = "readMore = !readMore" src="./coach/firstPage/imgOwn/up.jpg" alt="">
					<img class="imgResizeBottom" name = "readMore" ng-hide="readMore" ng-click = "readMore = !readMore" src="./coach/firstPage/imgOwn/down.jpg" alt="">
				</div>
				<div class="clear"></div> 
			</div>
		</div>
	</div>
	<div class="wrap"></div>
	 <div class="clear"></div>


	 <div class="main-bottom">
		<div class="wrap">
			<div class="content-bottom">
				<div class="col_1_of_3 grid_1_of_3 " ng-repeat = "listItem in coach.currentLinkClick.listItem">
					<img  class = "imgWidth" altsrc = "./coach/firstPage/imgOwn/noImage.jpg" ng-src="{{listItem.image}}" title="imag-name" check-image>
					<h2>{{listItem.header}}</h2>
					<p>{{listItem.desc}}</p>
					<ul>
				          <li ng-repeat = "innerItem in listItem.innerItem">
				            <div class="numb_list" ng-class = "colorClasses[$index % 3]">{{$index + 1}}</div>
				            <div class="extra_wrapper">
				                <p class="link1" ng-click = "global.openModal('coach/template/modals/display.html', 'displayCoachCtrl', innerItem, 'extraLarge-Modal', 'Information')"><a href="javascript:void(0)">{{innerItem.side}}</a></p>
				                <p>{{innerItem.middle}}</p>
				            </div>
				          </li>
			        </ul>
			        <div ng-class= "{'clear':  $index % 2 == 1}"></div>
				</div>

			</div>
			<div class="clear"></div> 
		</div>
	    <div class="wrap"></div>
	</div>

</div>
