<div ng-controller = "homeCoachCtrl">
	<div class="banner-box">
		<div class="wrap" >
			<div  ng-init = "class = ['desc', 'desc-middle', 'last']">
				<div class="main" >
					<div class="banner">
						<img class="imgBanner" src="./webdata/coach/img/home.jpg" alt=""/>
					</div>
					<div ng-class= "{'section-top': $index % 3 == 0}" ng-repeat= "item in coach.repeatAll['home']">
						<!-- index = {{$index}} -->
						<div class="col_1_of_3 span_1_of_3">
							<div class="title-img">
								<div class="title"><img src="./webdata/coach/img/home.jpg" alt=""/></div>
									<div class="title-desc">
										<p ng-bind-html="item.header | to_trusted">
										
										</p>
										<img ng-show = "coach.editThisPage && coach.a === coach.aToMatch" class="imgResizeBottom" name = "edit" ng-click = "coach.setEditLink(item, 'header')" src="./webdata/imgOwn/edit.jpg" alt="">
									</div>
									<div class="clear"></div> 
							</div>
							<p ng-class="class[$index % 3]">
								<strong ng-bind-html="item.nextHeader | to_trusted">
								</strong>
								<img ng-show = "coach.editThisPage && coach.a === coach.aToMatch" class="imgResizeBottom" name = "edit" ng-click = "coach.setEditLink(item, 'nextHeader')" src="./webdata/imgOwn/edit.jpg" alt="">
							</p>
							<p class="desc1" ng-bind-html="item.content | to_trusted">
							</p>
							<img ng-show = "coach.editThisPage && coach.a === coach.aToMatch" class="imgResizeBottom" name = "edit" ng-click = "coach.setEditLink(item, 'content')" src="./webdata/imgOwn/edit.jpg" alt="">
							<p class="desc1" ng-hide="!readMore" ng-bind-html="item.readMore | to_trusted">
							</p>
							<img ng-show = "coach.editThisPage && coach.a === coach.aToMatch && readMore" class="imgResizeBottom" name = "edit" ng-click = "coach.setEditLink(item, 'readMore')" src="./webdata/imgOwn/edit.jpg" alt="">
							
							<img class="imgResizeBottom" name = "readMore" ng-hide="!readMore" ng-click = "readMore = !readMore" src="./webdata/imgOwn/up.jpg" alt="">
							<img class="imgResizeBottom" name = "readMore" ng-hide="readMore" ng-click = "readMore = !readMore" src="./webdata/imgOwn/down.jpg" alt="">

							<img ng-show = "coach.editThisPage && coach.a === coach.aToMatch" class="imgResizeBottom" name = "delete" ng-click="confirmClick() && coach.repeatAll['home'].splice($index, 1);" confirm-click src="./webdata/imgOwn/delete.png" alt="">
							
						</div>
						<div ng-class= "{'clear':  $index % 3 == 2}"></div>

					</div>
					<div class="clear"></div>
				</div>
				<!-- <img ng-show = "coach.editThisPage && coach.a === coach.aToMatch" class="imgResizeBottom" style="width:97px"  ng-click = "global.openModal('coach/template/modals/editShow.html', 'editShowCoachCtrl', 'home', 'extraLarge-Modal')" name="addNew" src="./webdata/imgOwn/addNew.png" alt=""> -->

				<img ng-show = "coach.editThisPage && coach.a === coach.aToMatch" class="imgResizeBottom" style="width:97px"  ng-click = "coach.addNewListItem(coach.repeatAll['home'], 'homeInnerItem')" name="addNew" src="./webdata/imgOwn/addNew.png" alt="">
					
			</div>
		</div>
	</div>
	
</div>
