<header id="header"><!--header-->
		<div class="header_top" style="margin-top: -7px;"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="javascript:void(0)"><i class="fa fa-phone"></i> +919910430419</a></li>
								<li><a href="javascript:void(0)"><i class="fa fa-envelope"></i> bijay.iit12@gmail.com</a></li>
								<li ng-class="{'active': coach.tab === 'login'}" ng-click = "global.openModal('formBuild/form.html', 'formBuilderCtrl', undefined, 'extraLarge-Modal');coach.tab = 'login'"><a href="javascript:void(0)" >Form Builder</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
								<li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
								<li><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="javascript:void(0)"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="javascript:void(0)"><img class="profileLogo" ng-src="images/home/logo.png" check-image altsrc = "./webdata/imgOwn/noImage.jpg" alt="" />
							<input type="file" class="btn btn-default" style="display: -webkit-inline-box;" onchange = "jsWork.uploadPiczz(this)" /> <span  style="font-weight:bold;">Welcome {{global.myInfo.name}}        	</span></a>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-user"></i> Account</a></li>
								<li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
								<li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
								<li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
								<li><a href="login.html"><i class="fa fa-lock"></i> Login</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom" ng-init="selectedTab = 'home';"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse" >
								
								<li><a href="javascript:void(0);" ng-class="{'active':selectedTab === 'home'}"  ng-click="selectedTab = 'home'">Home</a></li>
								
								<li ><a data-hover="Update Profile" name="update" ng-class="{'active':selectedTab === 'updateProfile'}" ng-click = "global.openModal('template/modals/login.html', 'loginSignUp', 'update');selectedTab = 'updateProfile'">Update Profile</a></li>
								<li><a  ng-class="{'active':selectedTab === 'google'}" name="track" ng-click = "global.openModal('template/modals/map.html', 'mapCtrl', undefined, 'extraLarge-Modal');selectedTab = 'google'">Track People By google Map</a></li>
								<li><a  ng-class="{'active':selectedTab === 'contactUs'}" name="contact" ng-click = "global.openModal('template/modals/contactUs.html', 'loginSignUp', undefined, 'extraLarge-Modal');selectedTab = 'contactUs'">Contact</a></li>
								<li><a  ng-class="{'active':selectedTab === 'logout'}" name = "logout" ng-click = "global.stateChange('home');selectedTab = 'logout'">Logout</a></li>

								<li class="dropdown"><a href="javascript:void(0)">Shop<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="javascript:void(0)">Products</a></li>
										<li><a href="javascript:void(0)">Product Details</a></li> 
										<li><a href="javascript:void(0)">Checkout</a></li> 
										<li><a href="javascript:void(0)">Cart</a></li> 
										<li><a href="javascript:void(0)">Login</a></li> 
                                    </ul>
                                </li> 
								<!-- <li><a ui-sref=".login" ng-class="{'active':selectedTab === 'login'}" ng-click="selectedTab = 'login'">Login or Sign Up</a></li> -->
							</ul>
						</div>
						
					</div>
					<!-- <div style="display: -webkit-box;" class="col-sm-2">
						<img check-image ng-src="images/peopleList/{{global.myInfo.id}}" altsrc = "./webdata/imgOwn/noImage.jpg" name = "{{global.myInfo.id}}" class = "profileImage pull-right" alt="checkImage" />
						<input type="file" class="btn btn-default" style="display: -webkit-inline-box;" onchange = "jsWork.uploadPiczz(this)" /> <span  style="font-weight:bold;">Welcome {{global.myInfo.name}}        	</span>
					</div> -->

					
				</div>
			

				<div class="row" ng-controller = "searchCtrl">
					<div class="col-sm-3">
						<select  ng-model="global.itemsPerPage" ng-change="global.peopleList = global.getPaination(global.peopleListBackUp);global.currentPage = 0" ng-options="(size) for size in [] | range: 20"></select>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<hr/>